{% extends 'v2/professional/list_subjects_layout.html.twig' %}
{% block metaTitle %}{{ 'membre.membres.gestionMembres'|trans }}{% endblock %}

{% block title %}
    <span>
        {{ 'pro_manage_user_title_part_1'|trans }}
    </span>
    <span class="text-blue">
        {{ 'professionals'|trans }}
    </span>
{% endblock %}

{% block list %}
    {{ include('v2/professional/professionals/_professionals_list.html.twig', {professionals}) }}
{% endblock %}
