{% macro pageSelect() %}

{% trans %}main.parPage{% endtrans %}:
<select class="text-secondary border-blue-secondary" ng-model="pageSize">
	<option value="10">10</option>
	<option value="25">25</option>
	<option value="50">50</option>
	<option value="100">100</option>
</select>

{% endmacro %}