.action-dropdown {
  width: 160px;
}

.lang-selector {
  width: 100px;
  top: -40px;
  right: 14px;

  .lang-selector-flag {
    width: 20px;
  }

  .lang-selector-list {
    width: 100px;
    bottom: 100%;
  }
}

.breadcrumb-step {
  .breadcrumb-icon {
    right: 12px;

    &:before {
      background-color: theme-color('light');
      border-radius: 100%;
    }
  }
}

span.spinner-border.d-none-not-important {
  display: none;
}

.rounded-card {
  border-radius: 0.5rem;

  .card-header {
    border-radius: 0.5rem 0.5rem 0 0;
  }
}

.btn-close {
  -webkit-appearance: none;
}

.relay-checkbox {
  width: 200px;

  .btn.text-primary span.badge {
    display: none;
  }
}