.table > :not(caption) > * > * {
  color: currentColor;
}

td:first-child,
th:first-child{
  border-radius: 10px 0 0 10px;
}

td:last-child,
th:last-child{
  border-radius: 0 10px 10px 0;
}

.borderless{
  border: none;
}

.spaced-table{
  border-collapse: separate;
  border-spacing: 0 10px;
}
