.table > :not(caption) > * > * {
  color: currentColor;
}

td:first-child,
th:first-child{
  border-radius: 10px 0 0 10px;
}

td:last-child,
th:last-child{
  border-radius: 0 10px 10px 0;
}

.personal-data-card::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 5px;
  border-radius: 30px 0 0 30px;
  background-color: theme-color('primary');
}
.shared::before {
  background-color: theme-color('green');
}

.private::before {
  background-color: theme-color('primary');
}

.borderless{
  border: none;
}

.spaced-table{
  border-collapse: separate;
  border-spacing: 0 10px;
}
