@import "bootstrap-next/scss/functions";
@import "bootstrap-next/scss/variables";

@function theme-color($key) {
  @return map-get($theme-colors, $key);
}

$custom-colors: (
        "primary" : #203468,
        "green" : #4db95f,
        "light-green" : #e9f7ed,
        "blue" : #47b4d1,
        "light-blue" : #e5f4f8,
        "red" : #ee5253,
        "grey": #a6aec3,
        "light-grey" : #cdd1dc,
        "black": #000000,
);

$theme-colors: map-merge($theme-colors, $custom-colors);

//Disable bootstrap active && hover && focus style
a:focus,
a:active,
textarea:hover,
input:hover,
textarea:active,
input:active,
textarea:focus,
input:focus,
button:focus,
button:active,
button:hover,
label:focus,
.btn:active,
.btn.active {
  outline: 0 !important;
  box-shadow: none !important;
}

.blue-tooltip {
  --bs-tooltip-bg: var(--bs-blue);
  --bs-tooltip-opacity: 1;
}

$hr-opacity: 100%;

.hr-2 {
  height: 2px !important;
  background-color: currentColor;
}

.max-width-lg {
  max-width: 1080px;
}

.max-width-md {
  max-width: 800px;
}

.z-0 {
  z-index: 0;
}

.z-1 {
  z-index: 1;
}

.mt-75 {
  margin-top: 75px;
}

.hover:hover {
  background-color: #f5f5f5;
}
