@import 'theme';

.vault-nav {
  .vault-nav-item {
    p {
      line-height: 25px;
    }

    a {
      border-radius: 15px;
    }

    .nav-link:hover,
    .current-item {
      .img-document-folder {
        content: url('../../images/icons/docs_blanc.png');
      }

      .img-contact {
        content: url('../../images/icons/contacts_blanc.png');
      }

      .img-event {
        content: url('../../images/icons/rappels_blanc.png');
      }

      .img-note {
        content: url('../../images/icons/notes_blanc.png');
      }

      .img-relay {
        content: url('../../images/icons/relais_blanc.png');
      }
    }

    &.beneficiary-nav-item {
      img {
        height: 57px;
      }

      .nav-link:hover,
      .current-item {
        background-color: theme-color('green');

        hr, p {
          color: white;
        }
      }
    }

    &.pro-nav-item {
      img {
        height: 40px;
      }

      .nav-link:hover,
      .current-item {
        background-color: theme-color('blue');
      }

      a {
        width: 60px;
      }
    }
  }
}

@media (max-width: 767px) {
  .beneficiary-nav-item {
    flex-basis: 100%;

    .nav-link {
      border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    }
  }
}
