{% set actions = [
    {
        icon: 'times-circle',
        text: 'remove_from_relay'|trans,
        path: removeFromRelay.path
    },
] %}
{% if resetPasswordPath is defined %}
    {% set actions = actions|merge([
        {
            icon: 'redo',
            text: 'renew_password'|trans,
            path: resetPasswordPath
        },
    ]) %}
{% endif %}
<button class="btn btn-blue text-white py-0"
        {{ stimulus_target('dropdown-menu', 'button') }}
        {{ stimulus_action('dropdown-menu', 'toggle') }}
>
    <i class="fas fa-ellipsis-h"></i>
</button>
<div class="position-relative d-none" {{ stimulus_target('dropdown-menu', 'menu') }}>
    <ul class="action-dropdown shadow border-1 position-absolute z-1 bg-white list-group font-size-1 mt-2 end-0"
        style="width: 240px">
        {% for action in actions %}
            {{ include('v2/vault/components/_action_dropdown_item.html.twig', {action}) }}
        {% endfor %}
    </ul>
</div>
