{{ form_start(form, {'attr': {'data-ajax-list-filter-target': 'form'}}) }}
<div class="row">
    <div class="col-6 px-0">
        {{ form_widget(form.relay, {'attr': {'class': 'form-select primary text-primary py-1'}}) }}
    </div>
    <div class="col-6 pe-0 position-relative">
        {{ form_row(form.search, {'attr': {'class': 'rounded-pill text-grey grey-placeholder py-1'}}) }}
    </div>
</div>
{{ form_end(form) }}
