{% extends 'v2/app/common/standard_layout.html.twig' %}

{% block metas %}
    <meta name="turbo-cache-control" content="no-preview">
{% endblock %}

{% block content %}
    <div {{ stimulus_controller('autocomplete', {'source': autocompleteNames}) }}>
        {{ include('v2/app/form/personal_data_form.html.twig', {
            'title': 'document.creerUnDossier',
            'icon' : 'fas fa-folder-plus',
            'cancelPath': path('document_list', {'id': beneficiary.id}),
        }) }}
    </div>
{% endblock %}
