{% extends 'v2/management_layout.html.twig' %}
{% block subTitle %}{{ 'add_new_beneficiary'|trans|upper }}{% endblock %}

{% block content %}
    <div class="row mt-4">
        <div class="col-12 col-md-6 mt-3 mt-md-0">
            {{ include('v2/common/_card.html.twig', {
                title: 'benef_has_account'|trans,
                iconName: 'search',
                helpText: 'beneficiary_already_as_account_affiliate'|trans,
                buttonPath: path('affiliate_beneficiary_search'),
                buttonText: 'search'|trans,
            }) }}
        </div>
        <div class="col-12 col-md-6 mt-3 mt-md-0">
            {{ include('v2/common/_card.html.twig', {
                title: 'benef_has_no_account'|trans,
                iconName: 'plus',
                helpText: 'beneficiary_has_no_account_create'|trans,
                buttonPath: path('create_beneficiary_home'),
                buttonText: 'create_reconnect_account'|trans,
            }) }}
        </div>
    </div>
{% endblock %}
