<div class="d-flex justify-content-between mt-4">
    <div>
        {% if backPath is defined %}
            <a class="btn btn-light text-decoration-underline black text-center mt-2 col mx-1" href="{{ backPath }}">
                {{ 'back'|trans }}
            </a>
        {% endif %}
    </div>
    <div>
        {% set message = buttonText is defined ? buttonText : 'submit' %}
        {% set buttonColor = buttonColor is defined ? buttonColor : getUserThemeColor() %}
        {{ include('v2/common/_button.html.twig', {message, buttonColor}) }}
    </div>
</div>
