<div class="d-flex justify-content-between mt-4">
    <div>
        {% if backPath is defined %}
            {{ include('v2/common/_button.html.twig', {
                message: 'back'|trans,
                color: 'light text-decoration-underline',
                textColor: 'black',
            }) }}
        {% endif %}
    </div>
    <div>
        {% set message = buttonText is defined ? buttonText : 'submit' %}
        {{ include('v2/common/_button.html.twig', {message, color: getUserThemeColor()}) }}
    </div>
</div>
