<h3 class="text-primary">{{ 'download_folder'|trans }}</h3>
<p class="text-primary px-4">{{ 'user_shared_folder_with_you'|trans({'%nom%': sharedPersonalData.sharedBy.nom, '%prenom%': sharedPersonalData.sharedBy.prenom, '%folder%': sharedPersonalData.personalData.nom }) }}</p>
<p class="text-primary px-4">{{ 'download_folder_click_button'|trans }}</p>
