<h3 class="text-primary">{{ 'download_document'|trans }}</h3>
<p class="text-primary px-4">{{ 'user_shared_document_with_you'|trans({'%nom%': sharedPersonalData.sharedBy.nom, '%prenom%': sharedPersonalData.sharedBy.prenom, '%document%': sharedPersonalData.personalData.nom }) }}</p>
<p class="text-primary px-4">{{ 'download_document_click_button'|trans }}</p>
