# See the configuration reference at https://symfony.com/bundles/SchebTwoFactorBundle/6.x/configuration.html
scheb_two_factor:
    security_tokens:
        - Symfony\Component\Security\Core\Authentication\Token\UsernamePasswordToken
        - Symfony\Component\Security\Http\Authenticator\Token\PostAuthenticationToken
    email:
        enabled: true
        sender_email: noreply@reconnect.fr
        sender_name: Reconnect
        mailer: App\ServiceV2\Mailer\MailerService
    trusted_device:
      enabled: true
      lifetime: '%2fa_trusted_device_lifetime%'
      cookie_name: trusted_device
      cookie_secure: true
two_factor_text:
    enabled: true
    digits: 4
    auth_code_sender: App\Manager\SMSManager
