* * * * * php ~/www/current/bin/console re:everyMinute >> ~/www/shared/var/log/sms-reminders.log
0 6 * * 0 php ~/www/current/bin/console app:enable-api-client {apiClientName} >> ~/www/shared/var/log/enable-api-client.log
