{% extends 'homeV2/base.html.twig' %}

{% block body %}
    <section class="bg-success mt-5 pt-5 pb-2">
        <div class="container my-5 py-3 text-primary text-center">
            <div class="row">
                <div class="col-12 mx-auto mb-5">
                    <h1 class="h1 py-3 text-uppercase">{{ 'mail_reset_password_title'|trans }}</h1>
                </div>
                <div class="card col-lg-5 col-10 mx-auto px-0">
                    <div class="card-body">
                        <p>{{ 'mail_reset_password_content_1'|trans }}</p>
                        <p>{{ 'mail_reset_password_content_2'|trans }}</p>
                    </div>
                    {{ include('common/_language-selector.html.twig') }}
                </div>
            </div>
        </div>
    </section>
{% endblock %}
