{% extends 'v2/pro_standard_layout.html.twig' %}
{% block metaTitle %}{{ 'membre.creationMembre.title'|trans }}{% endblock %}

{% block title %}
    <span class="text-blue">{{ 'membre.creationMembre.title'|trans }}</span>
{% endblock %}

{% block delimiter %}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-12 col-md-6 mt-2">
            {{ include('v2/pro/_search_card.html.twig', {form}) }}
        </div>
        <div class="col-12 col-md-6 mt-2">
            {{ include('v2/common/_card.html.twig', {
                title: 'membre.ajoutMembre.nePossedePasCompte'|trans,
                iconName: 'user-plus',
                helpText: 'create_professional_help'|trans,
                buttonPath: '#',
                buttonText: 'create_account'|trans,
            }) }}
        </div>
    </div>
{% endblock %}
