<section class="mt-3 py-3 pt-md-5 bg-primary">
    <div class="row text-center text-white align-items-center">
        <div class="col-md-6 mt-5 mt-md-0">
            <a class="h3 text-white"
               href="{{ path('re_main_contactV2') }}">
                {{ 'contact_us_button'| trans }}
            </a>
        </div>
        <div class="col-md-6">
            {{ include('homeV2/pages/components/_reconnect_information.html.twig') }}
        </div>
    </div>
</section>
