{% extends "homeV2/base.html.twig" %}

{% block metaTitle %}{% trans %}resetting.public.metaTitle{% endtrans %}{% endblock metaTitle %}

{% block bodyCentered %}
    <section style="background-color:#9ee3a9;" class="mt-5 py-5 pt-md-5">
        <div class="container mt-0 py-0 mt-md-3 py-md-3">
            <div class="row text-center">

                <h1 class="h1 hugeMargin text-primary">{% trans %}resetting.public.title{% endtrans %}</h1>
                <p class="text-primary">{{ 'resetting.password_already_requested'|trans }}</p>
            </div>

        </div>
    </section>
{% endblock bodyCentered %}

