{% for folder in folders %}
    <li class="list-group-item w-100">
        <a href="{{ path(
            element is instanceof ('App\\Entity\\Document')
            ? 'document_move_to_folder'
            : 'folder_move_to_folder',
            {'id': element.id, 'folderId': folder.id, 'tree-view': true},
        ) }}"
           class="btn btn-green text-white text-start {{ folder == element ? 'disabled' : '' }}">
            <i class="fa fa-folder-open me-2" aria-hidden="true"></i>
            {{ folder.nom }}
        </a>
        {% if folder.sousDossiers|length > 0 %}
            <ul>
                {{ include('v2/vault/folder/_tree_view_item.html.twig', {
                    'folders': folder.sousDossiers,
                    'element': element,
                }) }}
            </ul>
        {% endif %}
    </li>
{% endfor %}
