{% extends 'v2/vault/standard_layout.html.twig' %}

{% block metas %}
    <meta name="turbo-cache-control" content="no-preview">
{% endblock %}

{% block content %}
    <div {{ stimulus_controller('autocomplete', {'source': autocompleteNames})|stimulus_controller('folder-icon') }} >
        {{ include('v2/vault/form/_personal_data_form.html.twig', {
            'title': 'create_folder',
            'icon' : 'fas fa-folder-plus',
            'cancelPath': path('list_documents', {'id': beneficiary.id}),
            'folderIconSrc': asset('build/images/appV2/folderIcons/folder.png'),
        }) }}
    </div>
{% endblock %}
