<div id="cgu-text" class="bigMargin " style="height: 400px; border: 1px solid #ddd; overflow: hidden;">
    <iframe
            src="{{ path('re_admin_annexe', {'url': 'cgs'})~'#toolbar=0&navpanes=0'}}"
            height="100%"
            width="100%"
    ></iframe>
</div>
<a target="_blank" href="{{ path('re_admin_annexe', {'url': 'cgs'})}}" class="text-primary text-sm py-2">{{ 'open_in_tab'|trans }}<i class="fa fa-arrow-up-right-from-square"></i></a>
