{% extends 'v2/base.html.twig' %}

{% block body %}
    <div class="position-relative bg-white text-center mt-75">
        <h1 class="p-3 p-md-3 p-lg-4 text-primary text-uppercase bold">
            {% block title %}{% endblock %}
        </h1>
    </div>
    <div class="container-fluid max-width-lg text-primary mx-auto {% block bodyColor %}{{ parent() }}{% endblock %}">
        <div class="max-width-lg mx-auto row">
            {% block actionBar %}{% endblock %}
            {% block delimiter %}
                <hr class="hr-2 mt-2 bg-primary mx-auto">
            {% endblock %}
            <div class="container">
                {% block content %}{% endblock %}
            </div>
        </div>
    </div>
{% endblock %}
