{% extends 'user/gestionUser_base.html.twig' %}

{% block addUserSubtitle %}{% trans %}create_member{% endtrans %}{% endblock addUserSubtitle %}

{% block addUserContent %}
    <div class="reForm center">
        <fieldset>
            <legend><label>Nom d'utilisateur</label></legend>
            {{ subject.user.username }}
            <a class="floatRight btn btn-medium" href="{{ path('list_pro') }}" >Retour à la liste</a>
        </fieldset>
    </div>
{% endblock addUserContent %}
