{% extends "base.html.twig" %}

{% block body %}

{% trans %}membre.supprimerMembreDuCentre.etesVousSur{% endtrans %}
<form action="" method="POST">
	<a href="{{ path('re_membre_membres')}}" class="btn">{% trans %}main.non{% endtrans %}</a>
    <input class="btn" type="submit" value="{% trans %}main.oui{% endtrans %}" />
</form>

{% endblock body %}
