{% set columnDisplay = columnDisplay is defined ? columnDisplay : false %}
{% set passwordLength = constant('App\\Entity\\User::USER_PASSWORD_LENGTH') %}
{% set hideAndShow = hideAndShow is defined ? hideAndShow : false %}
{% set generatePassword = generatePassword is defined ? generatePassword : false %}

<div {{ stimulus_controller('password-strength', {passwordLength}) }}>
    <div>
        {% if generatePassword %}
            {{ include('v2/user_creation/components/_generate_password_input.html.twig', {field}) }}
        {% else %}
            {{ include('v2/common/_hide_show_password_input.html.twig', {field, hideAndShow}) }}
        {% endif %}
    </div>
</div>
