{% set columnDisplay = columnDisplay is defined ? columnDisplay : false %}
{% set passwordLength = isBeneficiaire
    ? constant('App\\Entity\\User::BENEFICIARY_PASSWORD_LENGTH')
    : constant('App\\Entity\\User::PRO_PASSWORD_LENGTH') %}

<div {{ stimulus_controller('password-strength', {passwordLength}) }}>
    <div>
        {{ include('v2/common/_hide_show_password_input.html.twig', {'field' : field}) }}
    </div>
</div>
