{% set columnDisplay = columnDisplay is defined ? columnDisplay : false %}
<div {{ stimulus_controller('password-strength') }}>
    <div>
        {{ include('v2/reset_password/_hide_show_password_input.html.twig', {'field' : field}) }}
    </div>
</div>
