{% set menuItems = [
    { icon: 'fa-times-circle', message: 'remove_from_relay'|trans, path: removeFromRelay.path ,confirmAlertMessage: removeFromRelay.message,},
    { icon: 'fa-redo', message: 'renew_password'|trans, path: resetPasswordPath,},
] %}
<button class="btn btn-blue text-white py-0"
        {{ stimulus_target('dropdown-menu', 'button') }}
        {{ stimulus_action('dropdown-menu', 'toggle') }}
>
    <i class="fas fa-ellipsis-h"></i>
</button>
<div class="position-relative d-none" {{ stimulus_target('dropdown-menu', 'menu') }}>
    <ul class="action-dropdown shadow border-1 position-absolute z-1 bg-white list-group font-size-1 mt-2 end-0"
        style="width: 240px">
        {% for menuItem in menuItems %}
            {{ include('v2/vault/components/_action_dropdown_item.html.twig', {item: menuItem}) }}
        {% endfor %}
    </ul>
</div>
