<table class="table table-100 spaced-table mb-0 h-100 bg-white">
    <tbody>
    {% for beneficiary in beneficiaries %}
        {{ include('v2/professional/_beneficiaries_list_row.html.twig', {beneficiary}) }}
    {% endfor %}
    </tbody>
</table>
