<tr class="text-primary align-middle bg-white">
    <td class="border-0 p-0 h-100 text-center align-middle">
        <i class="fas fa-user fa-3x text-primary"></i>
    </td>
    <td class="border-0 h-100 text-start bold align-middle">
        <span>{{ professional.user.prenom|capitalize }} {{ professional.user.nom|upper }}</span>
        <br>
        <span class="text-grey">{{ professional.user.username }}</span>
    </td>
</tr>
