<div class="bg-primary text-white rounded py-1 mt-3">
    <h5 class="text-center mb-0 ">{{ title }}</h5>
</div>
<div class="col-12 col-md-6">
    {% for field in leftColumnFields %}
        {{ form_row(field) }}
    {% endfor %}
</div>
<div class="col-12 col-md-6">
    {% for field in rightColumnFields %}
        {{ form_row(field) }}
    {% endfor %}
</div>
{% if fullWidthColumnFields is defined %}
    <div class="col-12">
        {% for field in fullWidthColumnFields %}
            {{ form_row(field) }}
        {% endfor %}
    </div>
{% endif %}
