{% if title %}
    <div class="col-12 mb-3">
        <div class="bg-primary text-white rounded py-1 mt-3">
            <h5 class="text-center mb-0 ">{{ title }}</h5>
        </div>
    </div>
{% endif %}
<div class="col-12 col-md-6">
    {{ include('v2/common/_field_list.html.twig', {fields: leftColumnFields}) }}
</div>
<div class="col-12 col-md-6">
    {{ include('v2/common/_field_list.html.twig', {fields: rightColumnFields}) }}
</div>
{% if fullWidthColumnFields is defined and fullWidthColumnFields %}
    <div class="col-12">
        {{ include('v2/common/_field_list.html.twig', {fields: fullWidthColumnFields}) }}
    </div>
{% endif %}
