{% if title %}
    <div class="col-12 mb-3">
        <div class="bg-primary text-white rounded py-1 mt-3">
            <h5 class="text-center mb-0 ">{{ title|trans }}</h5>
        </div>
    </div>
{% endif %}
{{ include('v2/common/_field_list.html.twig', {fields}) }}
