{% form_theme form 'v2/form_theme/form_theme.html.twig' %}
{% set isPro = is_granted('ROLE_MEMBRE') %}

{{ form_start(form, {attr: { class: 'display-required-labels','data-controller': 'conditional-field' }}) }}
<div class="row bold">
    {% set fieldsSets = {
        'information': [form.prenom, form.nom, form.telephone, form.email, isPro ? null : form.dateNaissance, form.mfaEnabled],
        'contact_detail': form.adresse is defined ? [form.adresse.nom, form.adresse.ville, form.adresse.codePostal, form.adresse.pays] : [],
        'secret_question': form.secretQuestion is defined ? [form.secretQuestion.questionSecreteChoice, form.secretQuestion.autreQuestionSecrete, form.secretQuestion.reponseSecrete] : [],
    } %}

    {% for title, fields in fieldsSets|filter((fields, title) => fields|length > 0) %}
        {{ include('v2/user/_settings_form_block.html.twig', {title, fields}) }}
    {% endfor %}
    {{ include('v2/common/_form_actions.html.twig') }}
</div>
{{ form_end(form) }}
