{% extends 'v2/management_layout.html.twig' %}
{% block metaTitle %}{{ 'user_update_password_title'|trans }}{% endblock metaTitle %}
{% block subTitle %}{{ 'user_update_password_subtitle'|trans({'%subject%' : app.user.prenom ~ ' ' ~ app.user.nom}) }}{% endblock subTitle %}
{% block subTitleIconName %}recycle{% endblock %}

{% block content %}
    <div class="container w-75 justify-content-center mb-4">
        {{ include('v2/user/change_password_form.html.twig', {'askCurrentPassword': false, 'passwordForm': passwordForm}) }}
    </div>
{% endblock %}
