<table class="table table-100 spaced-table mb-0 h-100 bg-white">
    <tbody>
    {% block listRows %}{% endblock %}
    </tbody>
</table>
<hr>
<div class="d-flex justify-content-end mt-4">
    {% block pagination %}{% endblock %}
</div>
