{% extends 'user/gestionUser_base.html.twig' %}

{% block metaTitle %}{% trans %}membre.questionSecrete.metaTitle{% endtrans %}{% endblock metaTitle %}  
{% block addUserTitle %}{{ 'add_new_benef_big_title'|trans|raw }}{% endblock addUserTitle %}
{% block addUserSubtitle %}{% trans %}membre.questionSecrete.subtitle{% endtrans %}{% endblock addUserSubtitle %}

{% block addUserContent %}   
	
	<div style="max-width: 400px; margin: auto;">
		<div class="smallMargin text-primary font-size-1-3">{% trans %}membre.questionSecrete.label{% endtrans %}</div>
		{{ form(form, {"attr" : {"class" : "reForm form-100 font-size-1"}}) }}
	</div>
{% endblock addUserContent %}

