<div class="d-flex justify-content-center align-items-center"
        {{ stimulus_controller('toggle-visibility', {'url': url })}}>
    <i class="fas fa-lock{{ item.bPrive ? '' : '-open text-light-grey' }} me-2"
       data-toggle-visibility-target="lockIcon">
    </i>
    <div class="form-check form-switch form-switch-vault-visibility mx-2">
        <input type="checkbox"
               class="form-check-input form-check-vault-visibility text-white me-0"
               data-action="toggle-visibility#toggle"
                {{ item.bPrive ? '' : 'checked' }}
        >
    </div>
    <i class="fas fa-share {{ item.bPrive ? 'text-light-grey' : 'text-green' }}"
       data-toggle-visibility-target="shareIcon">
    </i>
</div>
