{% extends 'v2/common/_card.html.twig' %}

{% block customContent %}
    <div class="text-start">
        {{ include('v2/user_creation/components/_generate_password_input.html.twig', {field: form.password}) }}
        {{ include('v2/common/_form_actions.html.twig') }}
    </div>
{% endblock %}
