{% extends 'v2/common/_card_with_form.html.twig' %}

{% block customContent %}
    <div class="text-start">
        {{ include('v2/user/strong_password/_strong_password_row.html.twig', {
            'field': form.password,
            'isBeneficiaire': true,
            'hideAndShow': false
        }) }}
        {{ include('v2/common/_form_actions.html.twig') }}
    </div>
{% endblock %}
