<div class="relay-checkbox py-1">
    <a
            class="btn btn-light border-primary h-100 w-100 {{ user.isLinkedToRelay(relay) ? activeClasses : inactiveClasses }}"
            {{ stimulus_action('custom-checkbox', 'click', null, {
                path: path('toggle_user_invitation', {id: user.id, relay: relay.id})
            }) }}
    >
        {% if user.hasValidLinkToRelay(relay) %}
            <div class="text-end">
                        <span class="badge bg-success text-white">
                            <i class="fa fa-check-circle"></i>
                            {{ 'accepted'|trans }}
                        </span>
            </div>
        {% endif %}
        <span>{{ relay.nameAndAddress }}</span>
        <br/>
        <i class="fa fa-hotel fa-4x mt-3"></i>
    </a>
</div>
