{% extends 'v2/vault/list_container_layout.html.twig' %}

{% block metaTitle %}{{ 'evenement.metaTitle'|trans }}{% endblock metaTitle %}

{% block list %}
    <div class="list-container d-flex flex-column justify-content-center">
        {{ events is not empty
        ? include('v2/vault/event/_list.html.twig', {events})
        : include('v2/vault/components/_empty_list_content.html.twig', {'message': 'evenement.emptyData'|trans}) }}
    </div>
{% endblock %}

{% block searchform %}
    {{ include('v2/vault/components/_search_input.html.twig', {
        'routeName': 'search_events',
        'beneficiaryId': beneficiary.id,
    }) }}
{% endblock %}

{% block actionButtons %}
    {{ include('v2/vault/components/_create_personal_data_button.html.twig', {'path' : path('create_event', {'id': beneficiary.id})}) }}
{% endblock %}
