{% extends 'v2/vault/list_container_layout.html.twig' %}

{% block metaTitle %}{{ 'events'|trans }}{% endblock metaTitle %}

{% block list %}
    <div class="list-container d-flex flex-column justify-content-center">
        {{ events is not empty
        ? include('v2/vault/event/_list.html.twig', {events})
        : include('v2/vault/components/_empty_list_content.html.twig', {'message': 'no_event_yet'|trans}) }}
    </div>
{% endblock %}

{% block actionButtons %}
    {% set outdated = app.request.query.get('outdated') %}
    {{ include('v2/common/_link_button.html.twig', {
        path: path('list_events', {id: beneficiary.id, outdated: outdated ? false : true}),
        icon: 'fa-solid fa-calendar-days',
        message: outdated ? 'future_events'|trans : 'outdated_events'|trans,
    }) }}
    {{ include('v2/vault/components/_create_personal_data_button.html.twig', {'path' : path('create_event', {'id': beneficiary.id})}) }}
{% endblock %}
