<row class="footer">
    <columns small="6" style="vertical-align: middle; padding: 0 20px 0 20px;">
        <a href="https://www.reconnect.fr/" class="font-size-12 text-white no-decoration">{{ appUrl }}</a>
    </columns>
    <columns small="6" style="vertical-align: middle; padding: 0 20px 0 20px">
        <p style="margin: 15px 0 15px 0" class="font-size-12 text-right text-white">Reconnect {{ year }} - {{ 'all_rights_reserved'|trans({}, 'messages', userLang) }}</p>
    </columns>
</row>
