{% extends "base.html.twig" %}



{% block body %}
<div class="greyLightestBlock  center hugePadding" style="min-height: 550px;">
	<div class="centeredContainer">
		{% block bodyCenteredGrey %}{% endblock bodyCenteredGrey %}
	</div>
</div>

{% endblock body %}
