<div class="row" id="browserWarning" style="display: none;">
    <div class="col-sm-12 browser-warning">
                    <span>
                        <strong>Attention !<br/></strong>
                        <span id="ie11Warning" style="display: none;">Le cloud solidaire ne supporte que partiellement Internet Explorer 11</span>
                        <span id="oldIeWarning" style="display: none;">Le cloud solidaire ne supporte que partiellement votre verion d'Internet Explorer</span>
                        <br/>
                        <span>Nous vous recommandons fortement de télécharger un navigateur plus récent en cliquant sur un des logos ci-dessous</span>
                    </span>
        <div id="modernBrowsers">
            <a href="https://support.microsoft.com/fr-fr/help/4027741/windows-get-microsoft-edge"
               style="margin-right: 50px">
                <img height="50px" width="50px" src="{{ asset('build/images/edge.jpg') }}" alt="edge logo"/>
            </a>
            <a href="https://www.mozilla.org/fr/firefox/new/" style="margin-right: 50px">
                <img height="50px" width="50px" src="{{ asset('build/images/firefox.jpg') }}" alt="firefox logo"/>
            </a>
            <a href="https://www.google.fr/chrome/">
                <img height="50px" width="50px" src="{{ asset('build/images/chrome.jpg') }}" alt="chrome logo"/>
            </a>
        </div>
    </div>
</div>
