<div class="text-grey font-size-1-3 mb-5">
    <p class="bold mb-1">{{ pendingRelay.nom }}</p>
    <p class="mb-1">
        <i class="fa fa-home text-grey me-1"></i>
        {{ include('v2/app/relay/_address.html.twig', {'relay': pendingRelay}) }}
    </p>
</div>
