{% if relay.adresse %}
    {% if relay.adresse.nom %}
        <span>{{ relay.adresse.nom }}</span>
        <br>
    {% endif %}
    {% if relay.adresse.ville %}
        <span>{{ relay.adresse.ville }}</span>
    {% endif %}
    {% if relay.adresse.codePostal %}
        <span>{{ relay.adresse.codePostal }}</span>
        <br>
    {% endif %}
    {% if relay.adresse.pays %}
        <span>{{ relay.adresse.pays }}</span>
    {% endif %}
{% endif %}
