{% if relay.adresse %}
    <span>{{ relay.adresse.nom }}</span>
    <br>
    <span>{{ relay.adresse.ville }} {{ relay.adresse.codePostal }}</span>
    <br>
    <span>{{ relay.adresse.pays }}</span>
{% endif %}
