{% set address = relay.adresse %}
{% if address %}
    <span>
        {{ address.nom ?? '' }}
        {% if address.nom %}<br>{% endif %}
        {{ address.codePostal ?? '' }}
        {{ address.ville ?? '' }}
        {% if address.ville or address.codePostal %}<br>{% endif %}
        {{ address.pays ?? '' }}
    </span>
{% endif %}
