{% extends app.user.beneficiaire
    ? 'v2/vault/list_container_layout.html.twig'
    : 'v2/pro_standard_layout.html.twig' %}

{% block delimiter %}{% endblock %}
{% block metaTitle %}{{ 'centre.metaTitle'|trans }}{% endblock metaTitle %}
{% block title %}
    {{ 'my_relays_title_1'|trans }}
    <span class="text-blue">{{ 'my_relays_title_2'|trans }}</span>
{% endblock title %}

{% block content %}
    <div class="max-width-lg mt-4 m-auto">
        {% block list %}
            {{ relays is not empty
            ? include('v2/vault/relay/_list.html.twig', {relays})
            : include('v2/vault/components/_empty_list_content.html.twig', {
                message: 'center_has_no_info'|trans,
                img : asset('build/images/icons/relais_bleu.png'),
            }) }}
        {% endblock %}
    </div>
{% endblock %}
