{% extends 'v2/vault/list_container_layout.html.twig' %}

{% block metaTitle %}{{ 'centre.metaTitle'|trans }}{% endblock metaTitle %}

{% block content %}
    <div class="max-width-lg mt-4 m-auto">
        {% block list %}
            {{ relays is not empty or pendingRelays is not empty
            ? include('v2/vault/relay/_list.html.twig', {
                'relays': relays,
                'pendingRelays': pendingRelays,
            })
            : include('v2/vault/components/_empty_list_content.html.twig', {
                'message': 'center_has_no_info'|trans,
                'img' : asset('build/images/icons/relais_bleu.png')
            }) }}
        {% endblock %}
    </div>
{% endblock %}

{% block notifications %}
    {{ render(controller('App\\ControllerV2\\MemberBeneficiaryController::firstMemberVisitNotification', {'id': beneficiary.id})) }}
    {{ render(controller('App\\ControllerV2\\RelayController::relayNotification', {'id': beneficiary.id})) }}
{% endblock %}
