{% extends 'v2/standard_layout.html.twig' %}
{% block metaTitle %}{{ 'add_user'|trans }}{% endblock %}

{% block delimiter %}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-12 col-md-6 mt-2">
            {{ include('v2/pro/create/_search_card.html.twig', {form}) }}
        </div>
        <div class="col-12 col-md-6 mt-2">
            {{ include('v2/common/_card.html.twig', {
                title: 'user_do_not_have_account'|trans,
                iconName: 'user-plus',
                helpText: 'create_professional_help'|trans,
                buttonPath:  path('create_pro'),
                buttonText: 'create_account'|trans,
            }) }}
        </div>
    </div>
{% endblock %}
