{% extends "base.html.twig" %}

{% block body %}
    <div id="page-devenirRelai">
        <h1 class="h1 hugeMargin center">{% trans %}devenirUnRelaiReconnect.creation.success{% endtrans %}</h1>

        <div class="center">
            <div class="midMargin">
                <a href="{{ path("re_main_accueil") }}" class="btn">Retour</a>
            </div>
        </div>
    </div>
{% endblock body %}
