{% extends 'v2/common/_card.html.twig' %}

{% block customContent %}
    {{ include('v2/user_creation/components/_relays_checkboxes.html.twig', {user, relays})}}
    <div class="mt-5">
        {{ include('v2/common/_button_row.html.twig', {
            color: 'blue',
            href: app.user.usesRosalie and user.isMembre ? path('rosalie_pro', {id: user.subjectMembre.id}) : path('list_pro')
        }) }}
    </div>
{% endblock %}
