<div class="row mt-3">
    <div class="col-md-6">
        {{ include('v2/user_creation/beneficiary/components/_way_physical.html.twig')}}
    </div>
    <div class="col-md-6">
        {{ include('v2/user_creation/beneficiary/components/_way_distant.html.twig')}}
    </div>
</div>
