{% extends 'v2/user_creation/beneficiary/_step_without_form.html.twig' %}

{% set secretQuestionStep = constant('App\\Entity\\Attributes\\BeneficiaryCreationProcess::SECRET_QUESTION_STEP') %}
{% set rows = [
    {name: 'firstname', value: beneficiary.user.prenom},
    {name: 'lastname', value: beneficiary.user.nom},
    {name: 'phone', value: beneficiary.user.telephone},
    {name: 'email', value: beneficiary.user.email},
    {name: 'secret_question', value: beneficiary.questionSecrete, step: secretQuestionStep, hidden: beneficiaryCreationProcess.remotely},
    {name: 'secret_answer', value: beneficiary.reponseSecrete, step:secretQuestionStep, hidden: beneficiaryCreationProcess.remotely},
    {name: 'relays', value: beneficiary.user.centres, step: beneficiaryCreationProcess.relaysStep},
    {name: 'si_siao_number', value: beneficiary.sisiaoNumber, hidden: null == beneficiary.sisiaoNumber, readonly: true}
] %}

{% block stepContent %}
    {{ include('v2/user_creation/beneficiary/_step_5_rows.html.twig', {rows}) }}
    {% if not beneficiary.sisiaoNumber %}
        <div class="py-3 d-flex align-items-center justify-content-start">
            {{ 'add_si_siao_number_intro'|trans }}
            <span class="mb-2">
                {{ include('v2/common/_link_button.html.twig', {
                    path: path('add_si_siao_number', {id: beneficiary.id}),
                    message: 'add'|trans
                }) }}
            </span>
        </div>
    {% endif %}
{% endblock %}
