<div class="row">
    {% for row in rows %}
        {% if row.hidden is not defined or not row.hidden %}
            {{ include('v2/user_creation/beneficiary/_summary_row.html.twig', {row}) }}
        {% endif %}
    {% endfor %}
</div>
