{% set identityStep = constant('App\\Entity\\Attributes\\BeneficiaryCreationProcess::IDENTITY_STEP') %}
{% set secretQuestionStep = constant('App\\Entity\\Attributes\\BeneficiaryCreationProcess::SECRET_QUESTION_STEP') %}
{% set rows = [
    {name: 'firstname', value: beneficiary.user.prenom, step: identityStep, hide: false},
    {name: 'lastname', value: beneficiary.user.nom, step: identityStep, hide: false },
    {name: 'phone', value: beneficiary.user.telephone, step: identityStep, hide: false },
    {name: 'email', value: beneficiary.user.email, step: identityStep, hide: false },
    {name: 'secret_question',  value: beneficiary.questionSecrete, step: secretQuestionStep, hide: beneficiaryCreationProcess.remotely},
    {name: 'secret_answer',  value: beneficiary.reponseSecrete, step:secretQuestionStep, hide: beneficiaryCreationProcess.remotely},
    {name: 'relays',  value: beneficiary.user.centres, step: beneficiaryCreationProcess.relaysStep, hide: false}
] %}

<div class="col-3 d-none d-md-block">
    {{ include('v2/user_creation/beneficiary/_breadcrumb.html.twig', {beneficiaryCreationProcess}) }}
</div>
<div class="col-12 col-md-8">
    <div class="h-100 d-flex flex-column justify-content-between">
        {{ include('v2/user_creation/beneficiary/_step_5_rows.html.twig', {rows}) }}
        <div class="row">
            <div class="col-6 d-grid gap-2">
                {{ include('v2/common/_button_with_loader.html.twig', {
                    'text': 'back'|trans,
                    'href': path('create_beneficiary', {
                        step: beneficiaryCreationProcess.previousStep,
                        id: beneficiaryCreationProcess.id,
                    })
                }) }}
            </div>
            <div class="col-6 d-grid gap-2">
                {{ include('v2/common/_button_with_loader.html.twig', {
                    'text': 'confirm'|trans,
                    'color': 'blue',
                    'href': path('create_beneficiary', {'id': beneficiaryCreationProcess.id, 'step': beneficiaryCreationProcess.nextStep})
                }) }}
            </div>
        </div>
    </div>
</div>
