<ul class="list-group">
    <li class="row">
        <div class="col-3 mt-2 bold">
            {{ row.name|trans }}
        </div>
        <div class="col-7 mt-2">
            {% if row.value is iterable %}
                {% for val in row.value %}
                    {{ val.nom }}
                    <br>
                {% endfor %}
            {% else %}
                {{ row.value }}
            {% endif %}
        </div>
        <div class="col-2 mt-2 text-end">
            <a href="{{ path('create_beneficiary', {'step': row.step, 'id': beneficiaryCreationProcess.id}) }}" data-turbo="false">
                <i class="fas fa-pencil-alt text-primary"></i>
            </a>
        </div>
    </li>
</ul>
