{% extends 'v2/management_layout.html.twig' %}

{% block subTitle %}{{ 'create_new_beneficiary'|trans|upper }}{% endblock %}

{% block content %}
    <div class="row mt-4">
        <div class="col-12 col-md-6 mt-3 mt-md-0">
            {{ include('v2/common/_card.html.twig', {
                title: 'is_the_beneficiary_present'|trans,
                iconName: 'user-lock',
                helpText: 'beneficiary_will_give_you_secret_information'|trans,
                buttonPath: path('create_beneficiary', {'step': 1}),
                buttonText: 'create_reconnect_account_with_beneficiary'|trans,
            }) }}
        </div>
        <div class="col-12 col-md-6 mt-3 mt-md-0">
            {{ include('v2/common/_card.html.twig', {
                title: 'is_the_beneficiary_absent'|trans,
                iconName: 'mobile-alt',
                helpText: 'beneficiary_will_receive_sms_account_information'|trans,
                buttonPath: path('create_beneficiary', {'step': 1, 'remotely': true}),
                buttonText: 'create_reconnect_account_remotely'|trans,
            }) }}
        </div>
    </div>
{% endblock %}
